.display-4 {
    font-family: 'Shadows Into Light', cursive;
}
.jumbotron {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.content {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}